/**
Define a button
*/

// basic style
.btn {
  cursor: pointer;
  width: 24.5rem;
  height: 6.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
}

// style for the white button
.btn-white {
  border: 1px solid white;
  color: var(--color-white);
  &:hover {
    background-color: white;
    color: black;
  }
}
// style for the black button
.btn-black {
  background-color: var(--color-primary-cod-gray);
  color: var(--color-white);
  border: none;
  &:hover {
    background-color: white;
    border: 1px solid var(--color-primary-cod-gray);
    color: var(--color-primary-cod-gray);
  }
}
