.about {
  transform: translateY(-2%);
  @include mq(md) {
    transform: translateY(-5%);
  }
  @include mq(lg) {
    transform: translateY(-4%);
  }
  &__content {
    width: 80vw;
    margin: 0 auto;
    text-align: center;

    @include mq(lg) {
      display: flex;
      align-items: center;
      text-align: left;
      justify-content: space-around;
      width: 100vw;
      max-width: 1440px;
    }
  }
  &__content-bottom {
    @include mq(lg) {
      position: relative;
      z-index: 500;
      flex-direction: row-reverse;
      transform: translateY(15%);
    }
  }
  .about-texts-container {
    @include mq(lg) {
      width: 40rem;
      margin-left: 2rem;
    }
    @include mq(xlg) {
      width: 44.5rem;
    }
  }
  &__img-container {
    @include mq(lg) {
      max-width: 54rem;
      height: 60rem;
    }
    @include mq(xlg) {
      max-width: 54rem;
      max-height: 72rem;
    }
    & > img {
      width: 100%;
      object-fit: cover;
      box-shadow: 0px 50px 100px -60px var(--color-secondary-ebony-clay);
      @include mq(lg) {
        width: 100%;
        max-width: 100%;
        height: 100%;
      }
    }
    &.container-top {
      @include mq(md) {
        position: relative;
        z-index: 1;
        &::before {
          z-index: -1;
          position: absolute;
          content: "";
          top: -1500%;
          left: -105%;
          background: url("../images/patterns/pattern-curve-top-right.svg");
          width: 895px;
          height: 320px;
          @include mq(lg) {
            top: 30%;
            left: -30%;
          }
        }
      }
    }
    &.container-bottom {
      @include mq(md) {
        position: relative;
        z-index: 1;
        &::before {
          position: absolute;
          content: " ";
          top: -1000%;
          right: -7%;
          background: url("../images/patterns/pattern-lines.svg");
          width: 160px;
          height: 76px;
          @include mq(lg) {
            top: 30%;
            right: -30%;
          }
        }
      }
    }
  }
  &__title {
    padding-top: 8.6rem;
    padding-bottom: 1.6rem;
    display: block;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background-image: url("../images/patterns/pattern-divide.svg");
      top: 25%;
      left: 35%;
      width: 7.1rem;
      height: 0.7rem;
    }
  }
  &__body {
    padding-bottom: 8rem;
    &.body-bottom {
      @include mq(md) {
        position: relative;
        padding-bottom: 6rem;
        &::after {
          position: absolute;
          content: "";
          top: -50%;
          left: 50%;
          background: url("../images/patterns/pattern-curve-top-left.svg");
          width: 895px;
          height: 320px;
          @include mq(lg) {
            z-index: -4;
            top: -10vh;
            left: 80%;
          }
          @include mq(xlg) {
            top: -12vh;
          }
        }
      }
    }
  }
}
