/**
styles for booking.html

note: the style of the footer is defined @ layouts/_footer.scss

Also, all input fields are styled @ the bottom of this file(line 243). Be careful, as you overwrite.
*/

// header
.booking {
  background: url("../images/booking/hero-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 70vh;
  text-align: center;
  @include mq(smh) {
    background: url("../images/booking/hero-bg-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 100vw;
    height: 70vh;
  }
  @include mq(md) {
    background: url("../images/booking/hero-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  @include mq(mdh) {
    background: url("../images/booking/hero-bg-tablet@2x.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 100vw;
    height: 70vh;
  }
  @include mq(lgm) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  @include mq(lg) {
    background: url("../images/booking/hero-bg-desktop.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 100vw;
    height: 70vh;
  }
  @include mq(xlg) {
    background: url("../images/booking/hero-bg-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 1400px;
    height: 70vh;
  }
  &__logo {
    padding-top: 5.6rem;
    @include mq(md) {
      position: absolute;
      top: 0;
      left: 8%;
    }
    @include mq(lgm) {
      padding: 0;
      position: initial;
      width: 103px;
      height: 40px;
      object-fit: scale-down;
      margin-bottom: 4rem;
    }
  }
  &__title {
    padding-top: 4rem;
    @include mq(lgm) {
      // padding-top: 5rem;
    }
  }
  &__body {
    padding: 1.4rem 0 2.4rem 0;
    margin: 0 auto;
    max-width: 32.7rem;
    @include mq(md) {
      max-width: 57.3rem;
    }
    @include mq(lgm) {
      margin: 0;
      width: 44.5rem;
    }
  }
  &__reserve-place {
    font-size: 1.4rem;
    border: 1px solid white;
    color: white;
    font-weight: 600;
    padding: 2rem 0;
    width: 40%;
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 24.5rem;
    @include mq(md) {
      display: none;
    }
  }
  .header-right {
    @include mq(lgm) {
      flex-basis: 50%;
      text-align: left;
      padding-left: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .header-left {
    @include mq(lgm) {
      flex-basis: 50%;
      align-self: stretch;
    }
  }
}

// main
.booking-main {
  display: flex;
  justify-content: center;

  @include mq(lgm) {
    height: 32rem;
    background: url("../images/patterns/pattern-curve-bottom-right.svg");
    background-repeat: no-repeat;
    background-position-x: -30%;
    position: relative;
    &::after {
      z-index: -1;
      position: absolute;
      content: url("../images/patterns/pattern-lines.svg");
      width: 16rem;
      height: 7.6rem;
      top: 52%;
      left: 45%;
    }
  }
  .form-container {
    transform: translateY(-15%);
    height: 58.5rem;
    width: 85vw;
    background: var(--color-white);
    box-shadow: 0px 50px 100px -60px var(--color-secondary-ebony-clay);
    @include mq(mdm) {
      height: 54.5rem;
      width: 54rem;
      margin-bottom: 12rem;
    }
    @include mq(lgm) {
      transform: translate(50%, -60%);
    }
  }
}
// form
.booking__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  &__item {
    width: 60%;
    height: 4.5rem;
    @include mq(mdm) {
      width: 44.4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .picker {
    display: flex;
    justify-content: space-between;
    @include mq(mdm) {
      flex-basis: 60%;
    }

    .picker-item {
      border-bottom: 1px solid var(--color-secondary-shuttle-gray);
      padding-bottom: 1rem;
      padding-top: 0.8rem;
      width: 7rem;
    }
    .picker-item:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }
  .date__text {
    font-size: 1.8rem;
    letter-spacing: -0.22px;
    line-height: 2.8rem;
  }
  .picker-select {
    border: none;
    border-bottom: 1px solid var(--color-secondary-shuttle-gray);
    font-family: $spartan;
    outline: transparent;
    font-size: 1.8rem;
    cursor: pointer;
    background-color: var(--color-white);
  }
  .form__num-reservations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--color-secondary-shuttle-gray);
    .booking__form__btn {
      border: none;
      background-color: transparent;
      font-size: 1.8rem;
      color: var(--color-primary-beaver);
      cursor: pointer;
    }
  }
}

// input fields
.input {
  font-family: $spartan;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  letter-spacing: -0.22px;
  padding-left: 1.6rem;
  border-bottom: 1px solid var(--color-secondary-shuttle-gray);
  border-top: none;
  border-right: none;
  border-left: none;
  outline: transparent;
  cursor: pointer;
}
//
.alert {
  border-bottom: 1px solid red;
}
.alert::placeholder {
  color: red;
}
.alert-msg {
  color: red;
}
