.feature {
  text-align: center;
  .feature-conainer {
    width: 80vw;
    margin: 0 auto;
  }
  &__list {
    list-style-type: none;
    &__item {
    }
  }
  &__item {
    &__title {
      padding-top: 2.4rem;
    }
    &__description {
      padding-top: 1.6rem;
      padding-bottom: 3.2rem;
    }
  }
  &__btn {
    margin-bottom: 12.4rem;
  }
}

/*
DEV
*/
.item2 {
  display: none;
}
.item3 {
  display: none;
}
