.footer {
  background-color: var(--color-primary-cod-gray);
  .footer-container {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 8rem;
  }
  &__img-container {
    padding-top: 8rem;
    padding-bottom: 4rem;
  }
  &__address {
    padding-bottom: 3.2rem;
  }
  &__table {
    margin: 0 auto;
    text-transform: uppercase;
  }
}
